# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Repositorio_github\Servicio-usuarios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
